body, html {
    margin: 0;
    padding: 0;
  }
  
  div.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
  }
  
  #section1 {
    background-color: #ff5733;
  }
  
  #section2 {
    background-color: #33ff57;
  }
  
  #section3 {
    background-color: #5733ff;
  }
  
  /* Navigation Bar */
  .navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }
  
  .navbar-left {
    padding-left: 2%;
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 2%;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
  }
  
/* Cards */
.cards-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70%;
    padding: 2% 5%;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
    height: 100%; /* Set the height to 70% */
  }
  
  .card:last-child {
    margin-right: 0;
  }
  